.btn {
    width: 129px;
    height: 47px;
    background: $main-color;
    padding: 13px 0px;
    border-radius: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    outline: none;
    border: none;
}